#nav{
background-color: rgba(128, 128, 128, 0.8);
}
#navbar{
    margin: 0.5rem;
}
.w-23{
    width: 17rem;
    border-radius: 15px;
}
#footer{
    background-color: grey;
}
#hero{
    
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#carsphoto{
    background-size: 100%;
}